In [1]:
!ls ../..

AdmonClases	  create_new_lecture.sh  Listado.csv
config_correo.py  enviar_notas.sh	 mens_notas_acum.txt
course_info	  enviar_tareas.sh	 mens_tareas.txt

In [2]:
import pandas as pd
import numpy as np
import os
from collections import Counter

In [3]:
%load_ext autoreload
%autoreload 2
import lector_notas as ln
import listado_utils as lu

In [5]:
Df = ln.LectorNotasCSV("../../Listado.csv")
Df.df.head()

,Orientacion,Cuenta,Nombre1,Nombre2,Apellido1,Apellido2,Tel�fono,Correos,Identidad,NSP,APR,RPB,Indice,Estado,Eficiencia Terminal,Publicacion
Cohorte,,,,,,,,,,,,,,,,
5,ESTADISTICA,MMM100501,EDGARD,GEOBANNY,AVILA,ZUNIGA,88609350,edgard.avila@unah.edu.hn,0501-1987-1601,0.0,2.0,0.0,0.0,MAT,No,No
5,INGENIERIA,MMM100502,DAVID,ARMANDO,AVILA,AGUILERA,32928262,aviladavid3292@gmail.com,06011-984-03359,0.0,2.0,0.0,0.0,MAT,No,No
5,INGENIERIA,MMM100503,SAIRA,YANELI,BARAHONA,SOTO,97630588,barahona.saira@yahoo.com,0801-1987-00592,0.0,2.0,0.0,0.0,MAT,No,No
5,INGENIERIA,MMM100504,ALDO,JOSUE,CARBALLO,CANALES,3173-4447,ajcarballoc@e.upnfm.edu.hn,0801-1997-09889,0.0,2.0,0.0,0.0,MAT,No,No
5,ESTADISTICA,MMM100505,ALLAN,MAURICIO,CORDOVA,MARTINEZ,99023944,allan.cordova@unah.edu.hn,0801-1993-03917,0.0,2.0,0.0,0.0,MAT,No,No

In [7]:
Df.df.index.name = None
Df.df.head()

,Orientacion,Cuenta,Nombre1,Nombre2,Apellido1,Apellido2,Tel�fono,Correos,Identidad,NSP,APR,RPB,Indice,Estado,Eficiencia Terminal,Publicacion
5,ESTADISTICA,MMM100501,EDGARD,GEOBANNY,AVILA,ZUNIGA,88609350,edgard.avila@unah.edu.hn,0501-1987-1601,0.0,2.0,0.0,0.0,MAT,No,No
5,INGENIERIA,MMM100502,DAVID,ARMANDO,AVILA,AGUILERA,32928262,aviladavid3292@gmail.com,06011-984-03359,0.0,2.0,0.0,0.0,MAT,No,No
5,INGENIERIA,MMM100503,SAIRA,YANELI,BARAHONA,SOTO,97630588,barahona.saira@yahoo.com,0801-1987-00592,0.0,2.0,0.0,0.0,MAT,No,No
5,INGENIERIA,MMM100504,ALDO,JOSUE,CARBALLO,CANALES,3173-4447,ajcarballoc@e.upnfm.edu.hn,0801-1997-09889,0.0,2.0,0.0,0.0,MAT,No,No
5,ESTADISTICA,MMM100505,ALLAN,MAURICIO,CORDOVA,MARTINEZ,99023944,allan.cordova@unah.edu.hn,0801-1993-03917,0.0,2.0,0.0,0.0,MAT,No,No

In [11]:
lis = ln.LectorNotasCSV("../../Listado.csv")
lis.resultado_stats()

No se encontro un renglon con PAUTA

KeyError: 'Resul'

In [6]:
lis.df[['Cuenta', 'Nombre Completo']]

NameError: name 'lis' is not defined

In [112]:
asist = lis.df[['Cuenta', 'Nombre Completo']].copy()
cols_orig = [f"T{n}" for n in range(1,9)]
#cols_mod = [f"Semana {n+1}" for n,it in enumerate(cols_orig)]

for n, t in enumerate(cols_orig):
    col = lis.df[t]
    col = col.apply(lambda x: round(np.floor(x*4/10)))
    asist[f"Semana {n+1}"] = col
    #asist.insert(2,f"Semana {n+1}", col) 
asist.to_csv('../../SistemasDinamicos1/asistencia.csv')

In [100]:
listado = pd.read_excel("../../Listado.ods")

In [5]:
os.path.splitext("../../Listado.ods")

('../../Listado', '.ods')

In [18]:
list(zip([None, 'hola'], ['correo', 'c2']))

[(None, 'correo'), ('hola', 'c2')]

In [99]:
listado['Cuenta'].fillna(-1).astype(np.int64).astype(str)

0     20161001202
1     20161002936
2     20161930059
3     20021004564
4     20161003633
5     20171002520
6     20191000019
7     20161001197
8     20151002204
9     20181001344
10    20161030725
11    20172030501
12    20191000852
13    20191001656
14    20121002780
15    20181030395
16    20181001717
17    20181006261
18    20181001520
19    20181002627
20    20031002349
21    20201005775
22    20191001612
23    20141004148
24    20111900414
25    20152001730
26             -1
27             -1
Name: Cuenta, dtype: object