In [1]:
!ls ../..

'10.Solicitud de empleo 2024 copia.xlsx'
'10.Solicitud de empleo 2024.xlsx'
 AdmonClases
 config_correo.py
 constancia_examen.docx
 course_info
 create_new_lecture.sh
 enviar_notas.sh
 enviar_tareas.sh
'Examen III MM 100.pdf'
'Examen II MM 100.pdf'
'Examen I MM 100.pdf'
 grafico_bebes.jpg
 Listado.csv
'Luis 1102 Listado de estudiantes INTRODUCCION A LA ESTADISTICA SOCIAL_ sección_ 1102.xls.xlsx'
 mens_notas_acum.txt
 mens_tareas.txt
 message_preview.html
 planificacion.docx

In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter

In [2]:
%load_ext autoreload
%autoreload 2
import lector_notas as ln
import listado_utils as lu

In [7]:
Df = ln.LectorNotasCSV("../../Listado.csv")
Df.df.tail()

,Cuenta,Nombre Completo,Correo Institucional,Centro Estudiante,Matricula Excepcional,E1,T1,E2,T2,E3,T3,Lab,Final,Resul
Nº,,,,,,,,,,,,,,
37.0,20241033937,KATHERIN JIMENA LAGOS ALVARADO,katherin.lagos@unah.hn,CIUDAD UNIVERSITARIA,SI,100.0,10,79.0,10,53.0,10,73,84,0.0
38.0,20241034086,CRISTHIAN JOSUE MUNGUIA RUIZ,cmunguiar@unah.hn,CIUDAD UNIVERSITARIA,SI,85.0,10,0.0,10,0.0,10,6,38,0.0
39.0,20241034103,DANIELA MARIA SOTO SANTOS,dsotos@unah.hn,CIUDAD UNIVERSITARIA,NO,110.0,10,0.0,10,11.0,10,76,54,0.0
40.0,20241034170,KRISELL FABIOLA HERNANDEZ NUÑEZ,krisell.hernandez@unah.hn,CIUDAD UNIVERSITARIA,SI,100.0,10,0.0,10,62.0,10,79,69,0.0
NaN,0.0,PAUTA,luis.berlioz@unah.edu.hn,0.0,0.0,115.0,10,100.0,10,70.0,10,100,100,0.0

In [4]:
Df.df.index.name = None
Df.df.head()

,Cuenta,Nombre Completo,Correo Institucional,Centro Estudiante,Matricula Excepcional,E1,T1,E2,T2,E3,T3,Lab,Resul
1.0,20131014843,CINTHYA YOLANDA ZAPATA BANEGAS,cinthya.zapata@unah.hn,CIUDAD UNIVERSITARIA,NO,110.0,10,96.0,10,54.0,10,0,83
2.0,20181002248,LEDI ARELI LAINEZ CASTRO,ledi.lainez@unah.hn,CIUDAD UNIVERSITARIA,NO,105.0,10,89.0,10,0.0,10,47,67
3.0,20191000776,STEVEN GARCIA VARELA,stevengarcia@unah.hn,CIUDAD UNIVERSITARIA,NO,90.0,10,0.0,10,0.0,10,9,39
4.0,20191003013,YOHANA MICHELL MURILLO TORRES,yohana.murillo@unah.hn,CIUDAD UNIVERSITARIA,NO,90.0,10,93.0,10,53.0,10,61,84
5.0,20191007358,SAMARY ESTHER LAGOS VALLADARES,samary.lagos@unah.hn,CIUDAD UNIVERSITARIA,NO,0.0,10,0.0,10,0.0,10,0,20

In [5]:
lis = ln.LectorNotasCSV("../../Listado.csv")
lis.resultado_stats()

se elimino el renglon de PAUTA
| OBS | Cuenta |   %   |
========================
| APR |      0 |  0.0% |
| RPB |      0 |  0.0% |
| ABD |      0 |  0.0% |
| NSP |      0 |  0.0% |
| 83 |      1 |  2.5% |
| 67 |      1 |  2.5% |
| 39 |      1 |  2.5% |
| 84 |      2 |  5.0% |
| 20 |      4 | 10.0% |
| 82 |      1 |  2.5% |
| 75 |      1 |  2.5% |
| 85 |      2 |  5.0% |
| 94 |      1 |  2.5% |
| 89 |      1 |  2.5% |
| 73 |      1 |  2.5% |
| 21 |      1 |  2.5% |
| 86 |      3 |  7.5% |
| 80 |      1 |  2.5% |
| 62 |      1 |  2.5% |
| 65 |      1 |  2.5% |
| 97 |      1 |  2.5% |
| 87 |      2 |  5.0% |
| 46 |      1 |  2.5% |
| 58 |      1 |  2.5% |
| 92 |      1 |  2.5% |
| 69 |      2 |  5.0% |
| 63 |      1 |  2.5% |
| 52 |      1 |  2.5% |
| 76 |      1 |  2.5% |
| 95 |      1 |  2.5% |
| 81 |      1 |  2.5% |
| 42 |      1 |  2.5% |
| 68 |      1 |  2.5% |
| 38 |      1 |  2.5% |
| 54 |      1 |  2.5% |
========================
Total: 40

Counter({20: 4,
         86: 3,
         84: 2,
         85: 2,
         87: 2,
         69: 2,
         83: 1,
         67: 1,
         39: 1,
         82: 1,
         75: 1,
         94: 1,
         89: 1,
         73: 1,
         21: 1,
         80: 1,
         62: 1,
         65: 1,
         97: 1,
         46: 1,
         58: 1,
         92: 1,
         63: 1,
         52: 1,
         76: 1,
         95: 1,
         81: 1,
         42: 1,
         68: 1,
         38: 1,
         54: 1,
         'APR': 0,
         'RPB': 0,
         'ABD': 0,
         'NSP': 0})

In [6]:
lis.df[['Cuenta', 'Nombre Completo']]

           Cuenta                     Nombre Completo
Nº
1.0   20131014843      CINTHYA YOLANDA ZAPATA BANEGAS
2.0   20181002248            LEDI ARELI LAINEZ CASTRO
3.0   20191000776                STEVEN GARCIA VARELA
4.0   20191003013       YOHANA MICHELL MURILLO TORRES
5.0   20191007358      SAMARY ESTHER LAGOS VALLADARES
6.0   20201002129      ALLISON YOVANNA MENA RODRIGUEZ
7.0   20211000410     DARWIN LEONEL SERVELLON MONCADA
8.0   20211001825      LIDIA ELIZABETH PEREZ GONZALEZ
9.0   20211002718     ANGEL JONATHAN CHINCHILLA RODAS
10.0  20211023513        NATALY JANNETH RAMOS MIDENCE
11.0  20211030306  SCARLETH MICHELLE ZAMBRANO ALVAREZ
12.0  20221003013      GÉNESIS ALICIA ORDOÑEZ VÁSQUEZ
13.0  20221004634       JARLEN NOHEMY HERNÁNDEZ GARAY
14.0  20221004869         DANIEL EDUARDO AMADOR NIETO
15.0  20231001335            DENSEL OMAR VASQUEZ CRUZ
16.0  20231001356           CESAR EDUARDO VALLE ULLOA
17.0  20231002256         HEYDI MICHELL PALMA MONTOYA
18.0  20231004634         SHARON NICOLLE GARCIA FUNES
19.0  20231030088          KENIA SOFIA CERNA PORTILLO
20.0  20231030445       ROSSY MILAGROS HERNÁNDEZ TOMÉ
21.0  20231030706      EDUARD SADITH MENDEZ RODRÍGUEZ
22.0  20231030840             DEXA ZOHET CASTRO MERLO
23.0  20231031802      HAZEL RACHEL VELASQUEZ FIALLOS
24.0  20231032233           DAVID ESTEBAN LOPÉZ DAMAS
25.0  20241000338         HAYLIN PAOLA SUÁREZ ÁLVAREZ
26.0  20241000449         DANIER ELIEZER ARMIJO GODOY
27.0  20241000691          LIZZY MARCELA OLIVA ESCOTO
28.0  20241000739         ALLIZON PAOLA MATUTE EUCEDA
29.0  20241002406    LAURENS ELISABETH RIVERA RAMIRES
30.0  20241002974           EMILTON ISAI VASQUEZ CRUZ
31.0  20241002984         GUSTAVO ANDRE DULCEY PINEDA
32.0  20241003455          EDGAR AVID MARTÍNEZ GÁLVEZ
33.0  20241003760       MABELL REBECCA MENDOZA ACOSTA
34.0  20241003794        PARIS JUDITH GODOY VILLATORO
35.0  20241004175        MELANY FERNANDA PINO BENITEZ
36.0  20241031379   LARISSA MICHELLE FIGUEROA CANALES
37.0  20241033937      KATHERIN JIMENA LAGOS ALVARADO
38.0  20241034086        CRISTHIAN JOSUE MUNGUIA RUIZ
39.0  20241034103           DANIELA MARIA SOTO SANTOS
40.0  20241034170     KRISELL FABIOLA HERNANDEZ NUÑEZ
NaN           0.0                               PAUTA

In [112]:
asist = lis.df[['Cuenta', 'Nombre Completo']].copy()
cols_orig = [f"T{n}" for n in range(1,9)]
#cols_mod = [f"Semana {n+1}" for n,it in enumerate(cols_orig)]

for n, t in enumerate(cols_orig):
    col = lis.df[t]
    col = col.apply(lambda x: round(np.floor(x*4/10)))
    asist[f"Semana {n+1}"] = col
    #asist.insert(2,f"Semana {n+1}", col) 
asist.to_csv('../../SistemasDinamicos1/asistencia.csv')

In [100]:
listado = pd.read_excel("../../Listado.ods")

In [5]:
os.path.splitext("../../Listado.ods")

('../../Listado', '.ods')

In [18]:
list(zip([None, 'hola'], ['correo', 'c2']))

[(None, 'correo'), ('hola', 'c2')]

In [99]:
listado['Cuenta'].fillna(-1).astype(np.int64).astype(str)

0     20161001202
1     20161002936
2     20161930059
3     20021004564
4     20161003633
5     20171002520
6     20191000019
7     20161001197
8     20151002204
9     20181001344
10    20161030725
11    20172030501
12    20191000852
13    20191001656
14    20121002780
15    20181030395
16    20181001717
17    20181006261
18    20181001520
19    20181002627
20    20031002349
21    20201005775
22    20191001612
23    20141004148
24    20111900414
25    20152001730
26             -1
27             -1
Name: Cuenta, dtype: object