In [20]:
!ls ../..

1			mens_final.txt
AdmonClases		mens_tareas.txt
config_correo.py	message_preview.html
course_info		Notebooks
create_new_lecture.sh	repo
default_name_notes.log	SistemasDinamicos1_Tercer_2022.pdf
default_name_notes.tex	tarea01
enviar_notas.sh		tarea02
enviar_tareas.sh	tarea03
exam1			tarea04
exam2			tarea05
grupos.txt		tarea06
Listado.ods		tarea07
Listado.xls		tarea08
mens_acum.txt		tarea09

In [1]:
import pandas as pd
import numpy as np
import os
from collections import Counter

In [3]:
%load_ext autoreload
%autoreload 2
import lector_notas as ln
import listado_utils as lu

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [30]:
Df = ln.LectorNotasCSV("../../Listado de estudiantes asignatura SISTEMAS DINAMICOS II_ sección_ 1700.xls")
Df.df.head()

        Cuenta                  Nombre Completo    Correo Institucional
1  20031002349    NICOLAS BLADIMIR CASTRO LAGOS  nicolas.castro@unah.hn
2  20061004367     JUAN CARLOS VARELA HERNANDEZ     juan.varela@unah.hn
3  20121000692     WILIAN ARIEL CENTENO ESTRADA  wilian.centeno@unah.hn
4  20131015569   LUIS HUMBERTO MARADIAGA VARELA     lhmaradiaga@unah.hn
5  20142500101  HENRRY ALEXANDER MORAZAN CHAVEZ  henrry.morazan@unah.hn

In [29]:
Df = ln.LectorNotasCSV("../../Listado.ods")
Df.df.head()

        Cuenta                  Nombre Completo    Correo Institucional
1  20031002349    NICOLAS BLADIMIR CASTRO LAGOS  nicolas.castro@unah.hn
2  20061004367     JUAN CARLOS VARELA HERNANDEZ     juan.varela@unah.hn
3  20121000692     WILIAN ARIEL CENTENO ESTRADA  wilian.centeno@unah.hn
4  20131015569   LUIS HUMBERTO MARADIAGA VARELA     lhmaradiaga@unah.hn
5  20142500101  HENRRY ALEXANDER MORAZAN CHAVEZ  henrry.morazan@unah.hn

In [28]:
Df.df.index.name = None
Df.df.head()

        Cuenta                  Nombre Completo    Correo Institucional
1  20031002349    NICOLAS BLADIMIR CASTRO LAGOS  nicolas.castro@unah.hn
2  20061004367     JUAN CARLOS VARELA HERNANDEZ     juan.varela@unah.hn
3  20121000692     WILIAN ARIEL CENTENO ESTRADA  wilian.centeno@unah.hn
4  20131015569   LUIS HUMBERTO MARADIAGA VARELA     lhmaradiaga@unah.hn
5  20142500101  HENRRY ALEXANDER MORAZAN CHAVEZ  henrry.morazan@unah.hn

In [12]:
lis = ln.LectorNotasCSV("../../Listado.ods")
lis.resultado_stats()

No se encontro un renglon con PAUTA

KeyError: 'Resul'

In [85]:
lis.df[['Cuenta', 'Nombre Completo']]

         Cuenta                     Nombre Completo
0   20021004564      CRISTIAN JOEL ORDOÑEZ MARTINEZ
1   20031002349       NICOLAS BLADIMIR CASTRO LAGOS
2   20111900414        OSMIN ARIEL RODRIGUEZ FLORES
3   20121002780         KARLA YOHELY ESPINAL CASTRO
4   20141004148            OSMAN ADALID REYES PAVON
5   20151002204         ESAU JARED MONTECINOS LANZA
6   20152001730         RANDALL JOSE SABILLON RODAS
7   20161001197    EDWIN ALEJANDRO JIMENEZ BARAHONA
8   20161001202   ANDRÉS FERNANDO LIZARDO RODRÍGUEZ
9   20161002936    ANTHONYS OMAR CASTELLANOS TORRES
10  20161003633         DANIEL ISAIAS VASQUEZ RAMOS
11  20161030725     JECKZEEL JIDLAFH GODOY BARDALES
12  20161930059  CHRISTIAN ARIEL PALACIOS HERNANDEZ
13  20171002520     DENIS ALEJANDRO ORDOÑEZ SEVILLA
14  20172030501          JERSON RICARDO LOPEZ AMAYA
15  20181001344       FREDY ALEJANDRO FUNES SALGADO
16  20181001520     MERARY ALEJANDRA GARCIA SANCHEZ
17  20181001717      LESLY DANIELA HERNANDEZ CASTRO
18  20181002627                NELSON MOLINA MOLINA
19  20181006261       LIZZY ABIGAIL RODAS CABALLERO
20  20181030395          KEVIN ALBERTO PINEDA PEREZ
21  20191000019            DIEGO LEONEL RIVAS LAGOS
22  20191000852           JOSUE ANTONIO ZUNIGA GALO
23  20191001612       OSCAR ANDRÉE CORTÉS HERNÁNDEZ
24  20191001656      JULIO CESAR HERNANDEZ ALVARADO
25  20201005775       OLGA MICHELLE CARRASCO ANDINO
26          0.0      Luis Humberto maradiaga varela
27          0.0                Wilian Ariel Centeno
28          0.0                PAUTA Sistemas Din 1

In [112]:
asist = lis.df[['Cuenta', 'Nombre Completo']].copy()
cols_orig = [f"T{n}" for n in range(1,9)]
#cols_mod = [f"Semana {n+1}" for n,it in enumerate(cols_orig)]

for n, t in enumerate(cols_orig):
    col = lis.df[t]
    col = col.apply(lambda x: round(np.floor(x*4/10)))
    asist[f"Semana {n+1}"] = col
    #asist.insert(2,f"Semana {n+1}", col) 
asist.to_csv('../../SistemasDinamicos1/asistencia.csv')

In [102]:
asist.append?

Signature:
asist.append(
    other,
    ignore_index: 'bool' = False,
    verify_integrity: 'bool' = False,
    sort: 'bool' = False,
) -> 'DataFrame'
Docstring:
Append rows of `other` to the end of caller, returning a new object.

.. deprecated:: 1.4.0
    Use :func:`concat` instead. For further details see
    :ref:`whatsnew_140.deprecations.frame_series_append`

Columns in `other` that are not in the caller are added as new columns.

Parameters
----------
other : DataFrame or Series/dict-like object, or list of these
    The data to append.
ignore_index : bool, default False
    If True, the resulting axis will be labeled 0, 1, …, n - 1.
verify_integrity : bool, default False
    If True, raise ValueError on creating index with duplicates.
sort : bool, default False
    Sort columns if the columns of `self` and `other` are not aligned.

    .. versionchanged:: 1.0.0

        Changed to not sort by default.

Returns
-------
DataFrame
    A new DataFrame consisting of the rows of caller and the rows of `other`.

See Also
--------
concat : General function to concatenate DataFrame or Series objects.

Notes
-----
If a list of dict/series is passed and the keys are all contained in
the DataFrame's index, the order of the columns in the resulting
DataFrame will be unchanged.

Iteratively appending rows to a DataFrame can be more computationally
intensive than a single concatenate. A better solution is to append
those rows to a list and then concatenate the list with the original
DataFrame all at once.

Examples
--------
>>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'), index=['x', 'y'])
>>> df
   A  B
x  1  2
y  3  4
>>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'), index=['x', 'y'])
>>> df.append(df2)
   A  B
x  1  2
y  3  4
x  5  6
y  7  8

With `ignore_index` set to True:

>>> df.append(df2, ignore_index=True)
   A  B
0  1  2
1  3  4
2  5  6
3  7  8

The following, while not recommended methods for generating DataFrames,
show two ways to generate a DataFrame from multiple data sources.

Less efficient:

>>> df = pd.DataFrame(columns=['A'])
>>> for i in range(5):
...     df = df.append({'A': i}, ignore_index=True)
>>> df
   A
0  0
1  1
2  2
3  3
4  4

More efficient:

>>> pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)],
...           ignore_index=True)
   A
0  0
1  1
2  2
3  3
4  4
File:      /usr/lib/python3.10/site-packages/pandas/core/frame.py
Type:      method

In [100]:
listado = pd.read_excel("../../Listado.ods")

In [5]:
os.path.splitext("../../Listado.ods")

('../../Listado', '.ods')

In [18]:
list(zip([None, 'hola'], ['correo', 'c2']))

[(None, 'correo'), ('hola', 'c2')]

In [101]:
listado.fillna(0)

,Nº,Cuenta,Nombre Completo,Correo Institucional,T1,T2,T3,T4,T5,T6,E1
0,9.0,2.016100e+10,ANDRÉS FERNANDO LIZARDO RODRÍGUEZ,andres.lizardo@unah.hn,10.0,0.0,10.0,0.0,0.0,0.0,0.0
1,10.0,2.016100e+10,ANTHONYS OMAR CASTELLANOS TORRES,anthonys.castellanos@unah.hn,10.0,0.0,0.0,0.0,0.0,0.0,0.0
2,13.0,2.016193e+10,CHRISTIAN ARIEL PALACIOS HERNANDEZ,christian.palacios@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,100.0
3,1.0,2.002100e+10,CRISTIAN JOEL ORDOÑEZ MARTINEZ,cjordonezm@unah.hn,10.0,0.0,0.0,10.0,10.0,10.0,100.0
4,11.0,2.016100e+10,DANIEL ISAIAS VASQUEZ RAMOS,divasquez@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,76.0
5,14.0,2.017100e+10,DENIS ALEJANDRO ORDOÑEZ SEVILLA,daordonezs@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,48.0
6,22.0,2.019100e+10,DIEGO LEONEL RIVAS LAGOS,diego.rivas@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,40.0
7,8.0,2.016100e+10,EDWIN ALEJANDRO JIMENEZ BARAHONA,eajimenez@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,36.0
8,6.0,2.015100e+10,ESAU JARED MONTECINOS LANZA,esau.montecinos@unah.hn,10.0,0.0,0.0,10.0,10.0,10.0,50.0
9,16.0,2.018100e+10,FREDY ALEJANDRO FUNES SALGADO,fredy.funes@unah.hn,10.0,10.0,0.0,10.0,10.0,10.0,100.0
10,12.0,2.016103e+10,JECKZEEL JIDLAFH GODOY BARDALES,jeckzeel.godoy@unah.hn,10.0,0.0,0.0,10.0,10.0,10.0,26.0
11,15.0,2.017203e+10,JERSON RICARDO LOPEZ AMAYA,jerson.amaya@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,53.0
12,23.0,2.019100e+10,JOSUE ANTONIO ZUNIGA GALO,josuezuniga@unah.hn,10.0,10.0,0.0,10.0,10.0,10.0,75.0
13,25.0,2.019100e+10,JULIO CESAR HERNANDEZ ALVARADO,hernandezjulio@unah.hn,10.0,0.0,0.0,0.0,0.0,0.0,0.0
14,4.0,2.012100e+10,KARLA YOHELY ESPINAL CASTRO,espinalkarla@unah.hn,10.0,0.0,0.0,0.0,0.0,0.0,0.0
15,21.0,2.018103e+10,KEVIN ALBERTO PINEDA PEREZ,kapinedap@unah.hn,10.0,0.0,0.0,0.0,10.0,0.0,0.0
16,18.0,2.018100e+10,LESLY DANIELA HERNANDEZ CASTRO,ldhernandezc@unah.hn,10.0,10.0,0.0,0.0,10.0,10.0,25.0
17,20.0,2.018101e+10,LIZZY ABIGAIL RODAS CABALLERO,lizzy.rodas@unah.hn,10.0,10.0,0.0,10.0,10.0,0.0,0.0
18,17.0,2.018100e+10,MERARY ALEJANDRA GARCIA SANCHEZ,magarcias@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,70.0
19,19.0,2.018100e+10,NELSON MOLINA MOLINA,nmolinam@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,63.0
20,2.0,2.003100e+10,NICOLAS BLADIMIR CASTRO LAGOS,nicolas.castro@unah.hn,10.0,0.0,10.0,10.0,10.0,10.0,65.0
21,26.0,2.020101e+10,OLGA MICHELLE CARRASCO ANDINO,omcarrasco@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,26.0
22,24.0,2.019100e+10,OSCAR ANDRÉE CORTÉS HERNÁNDEZ,oacortes@unah.hn,10.0,10.0,10.0,10.0,10.0,10.0,10.0
23,5.0,2.014100e+10,OSMAN ADALID REYES PAVON,oreyesp@unah.hn,10.0,0.0,0.0,0.0,0.0,0.0,0.0
24,3.0,2.011190e+10,OSMIN ARIEL RODRIGUEZ FLORES,osmin_rodriguez@unah.hn,10.0,0.0,0.0,0.0,0.0,0.0,85.0
25,7.0,2.015200e+10,RANDALL JOSE SABILLON RODAS,randall.sabillon@unah.hn,10.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.000000e+00,Luis Humberto maradiaga varela,lhmaradiaga@unah.hn,0.0,10.0,10.0,10.0,10.0,10.0,80.0
27,0.0,0.000000e+00,Wilian Ariel Centeno,wilian.centeno@unah.hn,0.0,0.0,0.0,0.0,0.0,0.0,60.0

In [99]:
listado['Cuenta'].fillna(-1).astype(np.int64).astype(str)

0     20161001202
1     20161002936
2     20161930059
3     20021004564
4     20161003633
5     20171002520
6     20191000019
7     20161001197
8     20151002204
9     20181001344
10    20161030725
11    20172030501
12    20191000852
13    20191001656
14    20121002780
15    20181030395
16    20181001717
17    20181006261
18    20181001520
19    20181002627
20    20031002349
21    20201005775
22    20191001612
23    20141004148
24    20111900414
25    20152001730
26             -1
27             -1
Name: Cuenta, dtype: object